<%- include("partials/header") -%>

<div class="content wrapper">
  <h1> <%= title %> </h1>
  <p> <%= content %> </p>
</div>


</div>
<div class="footer-padding"></div>
  <div class="footer-fixed">
    <p>Made with ❤️ by Me</p>
  </div>
</div>


</body>
</html>